<div class="bottom-usp">
    <div class="container">
        {% for item in globals.bottom_usp %}
        <div class="usp-item"><span class="usp-icon"><svg viewBox="0 0 24 24"><polyline points="20 6 9 17 4 12"></polyline></svg></span>{{ item }}</div>
        {% endfor %}
    </div>
</div>
